.detailsContainer {
    width: 70%;
    margin: 0 auto;
}

.imgContainer {
    width: 90%;
    margin: 5rem auto 2rem auto;
}

img {
    width: 100%;
    border-radius: 2rem;
}

.title {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title h2 {
    font-size: 2rem;
}

.title p {
    font-size: 1.3rem;
    font-weight: 700;
}

.description {
    margin: 2rem 6rem;
    font-size: 1.3rem;
}

.author {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 6rem;
    margin-bottom: 4rem;
}